.ribbons-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

.ribbons-container canvas {
  width: 100% !important;
  height: 100% !important;
}
